<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Telegram Login</title>
</head>
<body>
    <h1>Вхід через Telegram</h1>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="chat_id" id="chat_id">
        <label for="username">Telegram Ім'я користувача:</label>
        <input type="text" id="username" name="username" required>
        <button type="submit">Увійти</button>
    </form>

    <script>
        window.addEventListener('DOMContentLoaded', (event) => {
            const urlParams = new URLSearchParams(window.location.search);
            const chat_id = urlParams.get('chat_id');
            if (chat_id) {
                document.getElementById('chat_id').value = chat_id;
            }
        });
    </script>
</body>
</html>
